body{
    background-color: black;
}
h1{
    color: white;
    font-size:300%;
}
#title{
    margin:50px;
    text-align: center;
}
#outerContainer{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#videoContainer{
    border: solid 1px gray;
    height:auto;
    width:auto;
    margin:5px;
}
@media (min-width: 320px) and (max-width: 480px) {
    h1{
        font-size:120%;
    }
    #actualVideo{
        width: 301px;
        height: 213px;
    }

    #title{
        margin-top: 50px;
        margin-bottom: 20px;
    }
  }