body{
    background-color: black;
}
h1{
    color: white;
    font-size:300%;
}
h2{
    color: white;
}
#title1{
    margin-top:50px;
    margin-bottom: 0px;
    text-align: center;
}
#title2{
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}
#outerContainer{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#videoContainer{
    border: solid 1px gray;
    height:auto;
    width:auto;
    margin:5px;
}
@media (min-width: 320px) and (max-width: 480px) {
    h1{
        font-size:140%;
    }
    h2{
        font-size: 80%;
    }
    #actualVideo{
        width: 301px;
        height: 213px;
    }

    #title1{
        margin-top: 50px;
        margin-bottom: 0px;
    }
    #title2{
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}
  }